{{define "content"}}

<formclass="form-signin"role="form"action="/signup_account"method="post">
<h2class="form-signin-heading">
<iclass="fafa-comments-o">
ChatForum
</i>
</h2>
<divclass="lead">Signup for an account below</div>
<inputid="name" type="text" name="name" class="form-control" placeholder="Name" requiredautofocus>
<inputtype="email"name="email"class="form-control"placeholder="Emailaddress" required>
<inputtype="password"name="password"class="form-control"placeholder="Password" required>
<buttonclass="btnbtn-lgbtn-primarybtn-block" type="submit">Signup</button>
</form>

{{end}}
